.btn {
  border-radius: 0;
  border: 0;
  padding: 15px; }

.btn-primary {
  background-color: #34314c; }
  .btn-primary:hover {
    background-color: #47b8e0;
    transition: 0.2s ease-in-out; }

html, body {
  font-family: 'Raleway'; }

.wrapper {
  margin: 0 auto; }

.main-header {
  position: fixed;
  margin: 1.5em 0 1.5em 0;
  width: 100%;
  height: 40px;
  z-index: 5; }

.nav {
  margin: 0 100px 0 100px;
  float: none;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }
  .nav a {
    color: #34314c;
    margin-left: 2em;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    transition: color .15s ease-in-out,opacity .15s ease-in-out,background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }
    .nav a:hover {
      color: #47b8e0; }

.content {
  margin: 0;
  padding: 0; }

.banner {
  height: 100vh;
  position: relative;
  position: top center;
  background-image: url("../img/umappbanner2.png");
  background-size: cover;
  background-position: bottom-center;
  background-attachment: fixed; }
  @media (max-width: 1024px) {
    .banner {
      background-image: url("../img/umappbanner2.png");
      background-repeat: no-repeat;
      background-position: relative;
      size: 100% auto;
      position: relative;
      background-attachment: scroll;
      background-position: center; } }
  .banner .title {
    visibility: hidden;
    top: 260px;
    margin: 0 auto;
    position: relative;
    color: #34314c;
    color: #47b8e0;
    color: #ffc952; }
    .banner .title h1 {
      font-size: 55px; }
      @media screen and (max-width: 425px) {
        .banner .title h1 {
          font-size: 40px; } }
    .banner .title h2 {
      padding-top: 0.3em;
      font-size: 30px; }

.app, .webapp {
  background-color: white; }
  .app .text-container, .webapp .text-container {
    display: inline-block;
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 25%; }
  .app p, .webapp p {
    margin-top: 12px;
    font-size: 20px;
    line-height: 23px; }
  .app h2, .webapp h2 {
    font-size: 35px; }
  .app .btn, .webapp .btn {
    margin-top: 10px; }
  .app .img-container, .webapp .img-container {
    text-align: center; }
    .app .img-container img, .webapp .img-container img {
      padding-top: 45px;
      padding-bottom: 45px;
      height: 500px;
      width: auto; }
  .app ul li, .webapp ul li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    float: left;
    width: 33.33333333333333333333%;
    height: auto;
    transform: scale(1);
    transition: all 0.1s ease-in-out; }
    .app ul li:hover, .webapp ul li:hover {
      transform: scale(1.1); }
    .app ul li a, .webapp ul li a {
      display: block; }
    .app ul li img, .webapp ul li img {
      margin: 0 auto;
      width: 100%;
      height: auto;
      padding: 70px; }

.webapp {
  background-color: #f4f4f4;
  width: 100%; }
  .webapp .btn {
    margin-top: 20px; }
  .webapp img {
    float: left;
    height: 400px !important; }

.project {
  height: 400px;
  background-color: red; }

.about {
  background-color: #fff;
  overflow: hidden;
  color: #34314c; }
  .about h2 {
    font-size: 35px; }
  .about p {
    margin-top: 12px;
    font-size: 20px; }
  .about .col-xs-12 {
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 0 auto; }
  .about .text-container {
    min-height: 0px; }
  .about .image-container {
    padding: 0;
    text-align: center; }
    .about .image-container img {
      max-height: 300px;
      width: auto;
      transform: scale(1);
      transition: 0.4s ease-in-out; }
      .about .image-container img:hover {
        transform: scale(1.02);
        transition: 0.2s ease-in-out; }

.contact {
  background-color: #34314c;
  color: white;
  line-height: 25px; }
  .contact .contact-container {
    padding: 80px 0 60px 0; }

@media screen and (max-width: 530px) {
  .content {
    width: 500px; } }
