html, body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins'; }

h1, h2, h3, h4, h5 {
  font-family: 'Poppins'; }

.banner {
  width: 100%;
  height: 800px;
  background: url("../../public/img/umappbanner.png") no-repeat center center;
  background-size: cover;
  float: left;
  padding-top: 1em; }
  .banner .text-wrapper {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    color: white; }
  .banner ul {
    font-size: 1.2em;
    color: #ffffff;
    text-align: right; }
    .banner ul li {
      margin-left: 3em;
      display: inline; }
      .banner ul li:first-child {
        margin-left: 0; }
  .banner .logo {
    width: 120px;
    height: 60px;
    display: table;
    border: 3px #ffffff solid;
    text-align: center; }
    .banner .logo h3 {
      display: table-cell;
      color: #ffffff;
      vertical-align: middle; }

.description .picture, .description .text {
  height: 400px; }

.description .picture {
  background: url("../../public/img/People.png") no-repeat center center; }

.description .text {
  text-align: center;
  font: 'Yantramanav'; }

.description .text-wrapper {
  padding: 10px 0;
  height: 100%;
  position: relative; }

.description h2, .description p {
  padding: 0 40px; }

.description p {
  padding-top: 15px;
  font-size: 0.9em; }

.description .contactbutton {
  display: table;
  border: 3px solid black;
  width: 200px;
  height: 50px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  bottom: 25px;
  left: 0;
  right: 0;
  position: absolute; }
  .description .contactbutton:hover {
    cursor: pointer; }
  .description .contactbutton h3 {
    vertical-align: middle;
    display: table-cell;
    font-size: 1.4em; }

.picture_card {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  background-size: cover;
  overflow: hidden;
  text-align: center;
  transition: 0.2s ease-in-out; }
  .picture_card .text {
    opacity: 1;
    transition: 0.5s ease-in-out;
    vertical-align: middle;
    text-decoration: none;
    color: black; }
  .picture_card:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    transition: 0.5s ease-in-out;
    transform: scale(1.1); }
    .picture_card:hover .text {
      opacity: 1;
      transition: 0.5s ease-in-out; }

.projects a {
  color: inherit;
  text-decoration: none; }

.projects .col-xs-12 {
  height: 400px; }

.projects .full_card {
  height: 400px;
  overflow: hidden; }

.projects .transport {
  height: 100%;
  width: 100%;
  background: url("../../public/img/Transportplanering.png") no-repeat center center;
  background-size: cover; }

.projects .half_card {
  height: 200px;
  overflow: hidden; }

.projects .kahls {
  background: url("../../public/img/Kahls.png") no-repeat center center;
  background-size: cover;
  height: 100%; }

.projects .quarter_card {
  height: 200px;
  overflow: hidden;
  width: 50%;
  float: left; }

.projects .produktionsplanering {
  background: url("../../public/img/Produktionsplanering.png") no-repeat center center;
  color: white;
  height: 100%;
  background-size: cover; }

.projects .computer {
  background: url("../../public/img/Dator.png") no-repeat center center;
  height: 100%;
  background-size: cover; }

.contact .text-wrapper {
  text-align: center; }
  .contact .text-wrapper h2 {
    font-weight: 300; }

.contact h2, .contact p {
  padding: 10px 40px; }

.contact .email h3 {
  font-weight: 700; }

.contact .phone h3 {
  font-weight: 300; }

.contact .line-wrapper {
  position: relative; }
  .contact .line-wrapper .line {
    width: 200px;
    margin: 0 auto;
    border-bottom: 1px black solid; }

.footer .col-xs-12 {
  background-color: rgba(0, 0, 0, 0.7);
  height: 40px;
  color: white; }
