html, body {
  font-family: 'Raleway'; }

.wrapper {
  margin: 0 auto; }

.main-header {
  position: fixed;
  margin: 1.5em 0 1.5em 0;
  width: 100%;
  height: 40px;
  z-index: 5; }

.nav {
  margin: 0 100px 0 100px;
  float: none;
  text-align: center; }
  .nav a {
    color: #34314c;
    margin-left: 2em;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    transition: color .15s ease-in-out,opacity .15s ease-in-out,background .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }
    .nav a:hover {
      color: #47b8e0; }

.content {
  margin: 0;
  padding: 0; }

.banner {
  height: 100vh;
  position: relative;
  position: top center;
  background-image: url("../img/banner2.png");
  background-size: cover;
  background-position: top-center;
  background-attachment: fixed; }
  .banner .title {
    left: 20%;
    top: 260px;
    margin: 0;
    position: relative;
    padding-left: 50px;
    color: #34314c; }
    .banner .title h1 {
      font-size: 55px; }
    .banner .title h2 {
      padding-top: 0.3em;
      font-size: 30px; }

.customers {
  background-color: #f4f4f4; }
  .customers ul li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    float: left;
    width: 33.33333333333333333333%;
    transform: scale(1);
    transition: all 0.1s ease-in-out; }
    .customers ul li:hover {
      transform: scale(1.1); }
    .customers ul li a {
      display: block; }

.project {
  height: 400px;
  background-color: red; }

.about {
  min-height: 100px;
  background-color: #fff;
  overflow: hidden; }
  .about .content {
    width: 50%;
    float: left; }
    .about .content .content-image {
      height: 70%;
      padding: 50px 100px 50px 100px; }
      .about .content .content-image img {
        width: 100%;
        height: auto; }
    .about .content .content-body {
      padding: 50px 100px 50px 100px; }
    .about .content p {
      display: inline-block;
      vertical-align: middle;
      line-height: normal; }
    .about .content h2 {
      font-size: 30px;
      padding-bottom: 10px; }

.contact {
  height: 200px;
  background-color: yellow; }
