$white: #ffffff;
$blue: #1F5673;
$lightgrey: rgba(216,216,216,0.16);
$red: #E85158;
$lightwhite: rgba(255,255,255,0.72);
html,
body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto';
}
p {
  font-size: 18px;
  font-weight: 300;
}
h3 {
  color: $blue;
}
.btn {
  border-radius: 25px;
  padding: 10px;
  border: 0;
}
.btn-primary {
  background-color: $red;
  transition: 0.2s ease-in-out;
  &:hover {
    transition: 0.4s ease-in-out;
    background-color: $blue;
  }
}
nav {
  margin-right: 50px;
  margin-top: 10px;
  float: right;
  li {
    float: right;
    font-size: 20px;
    font-weight: 500;
    padding-right: 50px;
    color: $white;
    display: inline;
  }
}
.contact-button {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  font-weight: 300;
  font-size: 29px;
}
.banner {
  width: 100%;
  height: 800px;
  background: url('../../public/img/nybanner.svg') no-repeat center center;
  background-size: cover;
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $red;
    }
  }
  h1 {
    margin: 0;
  }
  h2 {
    font-size: 40px;
    color: $red;
    padding-bottom: 60px;
  }
  p {
    color: white;
    font-size: 20px;
  }
  
  
  .company-info {
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    text-align: center;
    h1 {
      color: $white;
      font-size: 60px;
    }
    p {
      font-size: 20px;
    }
  }
  @media(max-width:600px){
      .company-info{
          margin: 0 auto;
          padding-top:50px;
          padding-left:20px;
          padding-right:20px;
      }
  }
}
.sec1,
.sec2,
.sec3 {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.sec1 {
  padding-top: 45px;
}
.sec2 {
  background-color: $lightgrey;
  text-align: center;
  .description {
    padding-bottom: 10px;
  }
}
.sec3 {
  .image {
    position: relative;
    width: 100%;
    p {
      padding-left:25px;
      padding-right:25px;
      opacity: 0;
      top:200px;
      transition: all 0.2s ease-in-out;
      
      
    }
    @media(min-width:1390px){
        p{
            padding-right:100px;
            padding-left:100px;
        }
          
      }
      @media(min-width:1750px){
        p{
            padding-right:130px;
          padding-left:130px;
        }
          
      }
    &:hover {
      p {
        transition: all 0.5s ease-in-out;
        transform: translateY(50);
        top:170px;
        opacity: 1;
      }
      h3 {
        opacity:0;
      }
    }
  }
  h3,
  p {
    transition:all 0.3s ease-in-out;
    position: absolute;
    top: 230px;
    left: 0;
    width: 100%;
    color: $white;
    font-weight: 300;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    top: 180px;
  }
  img {
    margin-top: 15px;
    width: 350px;
    transition: all 0.2s;
    &:hover {
      transition: all 0.5s;
      transform: scale(1.1);
    }
  }
}
.footer {
  padding-top: 20px;
  padding-bottom: 40px;
  height: 200px;
  width: 100%;
  background-color: $blue;
  text-align: center;
  h3,
  p {
    color: $white;
  }
  h3{
      font-size:1.29em;
  }
  .footer-left {}
}
.info-cards {
  padding: 0 25px;
  text-align: center;
}
